.header {
  background-color: var(--primary-color);
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.headerTitle {
  color: #fff;
  font-size: 20px;
  padding-top: 8px;
  line-height: 1.6;
}

.listIcon {
  background-color: gray;
  border-radius: 4px;
  text-align: center;
  padding: 2px 8px 4px 8px;
  color: #fff;
  cursor: pointer;
}
