.gridView {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.grid {
  background-color: var(--secondary-color);
  width: 140px;
  height: 240px;
  border: 1px solid gray;
}
