.listView {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.list {
    background-color: var(--secondary-color);
  width: 300px;
  height: 140px;
  border: 1px solid gray;
  border-radius: 10px;
}
