.topBar {
  background-color: var(--primary-color);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

@media screen and (max-width: 460px) {
  .topBar {
    padding: 0 2px;
  }
}
