.catBar {
  position: fixed;
  top: 60px;
  height: 40px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 99;
}
.category {
  display: none;
}
.cat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider {
  width: 2px;
  height: 20px;
  background-color: #fff;
  margin: 0 10px;
}
.item,
.item:hover {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
}
.icon {
  color: #fff;
  transform: scale(0.6);
  cursor: pointer;
}
.catBar span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.sideBar {
  display: none;
  background-color: var(--primary-font);
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: -320px;
  overflow-x: hidden;
  padding-bottom: 40px;
  z-index: 9999;
  border-right: 1px solid gray;
  transition: var(--transition);
}
.sideBar.active {
  left: 0;
  transition: var(--transition);
}
.overflow {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100vh;
  z-index: 999;
  transition: var(--transition);
}
@media screen and (max-width: 800px) {
  .category {
    transition: var(--transition);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .items {
    padding-left: 0px;
  }
  .sideBar {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .item{
    font-size: 12px;
  }
  .catBar span{
    font-size: 12px;
  }
}