.books {
  overflow: hidden;
  padding-top: 140px;
  width: var(100% - 300px);
  margin-left: 300px;
  padding-bottom: 40px;
}
.viewBook {
  display: flex;
  justify-content: space-around;
}
.bookDesc {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.bookImg {
  width: 170px;
  height: 210px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  padding: 2px;
  transition: transform 0.2s;
  cursor: pointer;
}
.bookImg:hover {
  object-fit: cover;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.amount {
  padding-right: 16px;
  font-size: 14px;
}
.bookName {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}
.author {
  line-height: 1.6;
}
.author,
.pages,
.price {
  font-size: 14px;
  font-weight: 200;
}
.price {
  color: red;
  font-weight: bold;
}

.decrease,
.increase {
  border: 1px solid transparent;
  background-color: #ccc;
  font-weight: 500;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.quantity {
  padding: 0 10px;
  font-weight: bold;
}
.shopBtnMax {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.shopBtnMin {
  display: none;
}
.shopNow {
  background-color: tomato;
}
.shopNow:hover{
  background-color: rgb(219, 68, 42);
  transition: var(--transition);
}
.addCart {
  background-color: var(--primary-color);
}
.addCart:hover{
  background-color: #203d3c;
  transition: var(--transition);
}

.shopNow,
.addCart {
  border-radius: 4px;
  padding: 6px 30px;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  transition: transform 0.2s;
}
.shopNow:hover,
.addCart:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productDetail {
  height: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.productDetail h3 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}
.title,
.author,
.page,
.type,
.prices {
  font-size: 14px;
  font-weight: 500;
  padding-right: 10px;
}
.releaseBook {
  display: flex;
  flex-direction: row;
  gap: 4px;
  overflow: auto;
  white-space: nowrap;
}
.releaseBook::-webkit-scrollbar {
  height: 10px;
}

@media screen and (max-width: 1165px) {
  .viewBook {
    gap: 20px;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .bookImg {
    width: 150px;
    height: 200px;
  }
}
@media screen and (max-width: 846px) {
  .viewBook {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bookImg {
    height: 180px;
  }
  .shopBtnMax {
    display: none;
  }
  .shopBtnMin {
    display: block;
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .books {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .bookDesc {
    gap: 6px;
  }
}
@media screen and (max-width: 380px) {
  .bookName {
    font-size: 16px;
  }
  .bookImg {
    width: 120px;
    height: 160px;
  }
}
