.left {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 130;
  left: 0;
  overflow-x: hidden;
  padding-bottom: 160px;
  z-index: 0;
  border-right: 1px solid gray;
}
.right {
  width: var(100% - 300px);
  margin-left: 300px;
}

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
  .right {
    margin-left: 0;
    width: 100%;
  }
}
