.search {
  height: 44px !important;
  width: 50%;
  border-radius: 14px !important;
  margin-left: 24px;
}
@media screen and (max-width: 800px) {
  .search {
    position: absolute;
    width: 80%;
    top: 54px;
    left: -10px;
  }
}
