.navRight {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-end;
}
.login,
.orders {
  padding-bottom: 2px;
}
.badge {
  font-weight: 600;
}
.cart,
.account,
.menuIcon {
  color: var(--primary-font) !important;
  transform: scale(1.2);
}
.item {
  color: var(--primary-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
.item:hover {
  color: var(--primary-font);
}
.menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .navRight {
    padding-top: 16px;
    padding-right: 12px;
    gap: 16px;
  }

  .orders {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
  }
}
