.right {
    background-color: red;
    height: 100vh;
    width: var(100% - 300px);
    margin-left: 300px;
  }
  @media screen and (max-width: 800px) {
    .right {
      margin-left: 0;
      width: 100%;
    }
  }