.loginPage {
  width: 348px;
  text-align: center;
  margin: 160px auto;
  background-color: rgba(230, 223, 223, 0.5);
  padding: 10px 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  /* box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), */
  /* 5px 5px 9px rgba(94, 104, 121, 0.3); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.loginPage h4 {
  padding-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.form input {
  height: 40px;
  padding: 2px 6px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
.loginBtn {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -40px 0px inset;
}
.loginBtn:hover {
  transition: var(--transition);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
}
