.left {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 130;
  left: 0;
  overflow-x: hidden;
  padding-bottom: 160px;
  z-index: 0;
  border-right: 1px solid gray;
}
.categories {
  padding-top: 20px;
}
.accordion{
  padding-top: 10px;
}
.accordion2 {
  margin-top: 20px;
}
.catTitle{
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  border-top: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
  padding: 6px 0;
}

.catItems{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.catItem{
  font-size: 16px;
  cursor: pointer;
  color: #000;
  padding: 10px;
}
.catItem:hover{
  color: #000;
  border-radius: 10px;
  background-color: var(--hover-color);
}

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
}