@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Playfair+Display:ital,wght@1,400;1,600&family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none !important;
  font-family: 'Playfair', 'Poppins', sans-serif;
}
:root {
  --transition: all 0.6s ease;
  --primary-color: #325453;
  --primary-font: #fff;
}
html {
  scroll-behavior: smooth;
}
