@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Noto+Sans+Myanmar:wght@300;400&family=Noto+Serif+Myanmar:wght@300&family=Oswald:wght@300;600&family=Playfair+Display:ital,wght@1,400;1,600&family=Poppins:wght@300;500&family=Ribeye&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none !important;
  font-family: 'Poppins', 'Noto Sans Myanmar', 'sans-serif';
  list-style: none;
}
:root {
  --transition: all 0.3s ease;
  --primary-color: #325453;
  --secondary-color: #517174;
  --third-color: #4e1d04;
  --primary-font: #fff;
  --hover-color: #f1f3f4;
}
p {
  line-height: 0.9;
}
html {
  scroll-behavior: smooth;
  overflow: auto;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.MuiInputBase-root {
  padding: 0 !important;
}
.swiper-button-prev {
  margin-left: -18px;
}
.swiper-button-next {
  margin-right: -18px;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important;
  padding: 30px !important;
  border-radius: 50%;
  transform: scale(0.7);
  font-weight: 500;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.swiper-pagination-bullet-active {
  background-color: red !important;
}
/* @media screen and (max-width: 420px) {
  .MuiButtonBase-root {
    width: 20px !important;
  }
  .ForwardRef-searchContainer,
  .MuiPaper-root {
    padding: 0 !important;
  }
  .MuiInputBase-root {
    width: 150px !important;
  }
} */
.accordion-button:focus {
  border-radius: 6px !important;
  border: 1px solid var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #4e1d04 !important;
  background-color: transparent !important;
}

/* @media screen and (max-width: 400px) {
  .MuiInputBase-root {
    width: 120px !important;
  }
}
@media screen and (max-width: 370px) {
  .MuiInputBase-root {
    width: 100px !important;
  }
}

@media screen and (max-width: 350px) {
  .MuiInputBase-root {
    width: 90px !important;
  }
} */
